img{
	position: absolute;
	left: 835px;
}


.grafica {
	left: 162px;
	top: 248px;
	z-index: 10;
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.grafica2 {
	left: 235px;
	top: 287px;
	z-index: 10;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.grafica3 {
	left: 241px;
	top: 254px;
	z-index: 10;
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

.grafica4 {
	left: 633px;
	top: 310px;
	z-index: 10;
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

.txt {
	left: 99px;
	top: 173px;
	z-index: 10;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.ref{
	left: 99px;
	bottom: 72px;
	z-index: 10;
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
