img{
	position: absolute;
}


.cuadro {
	display: block;
	position: absolute;
	left: 148px;
	top: 403px;
	z-index: 10;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.txt1 {
	display: block;
	position: absolute;
	left: 100px;
	top: 200px;
	z-index: 10;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.txt2 {
	display: block;
	position: absolute;
	left: 100px;
	top: 290px;
	z-index: 10;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
