img{
	position: absolute;
}


.grafica{
	top: 183px;
	left: 99px;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.grafica2{
	top: 233px;
	left: 211px;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

.grafica3{
	top: 209px;
	left: 241px;
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.grafica4{
	top: 205px;
	left: 471px;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
